<footer class="footer">
  <div>
  <small>
    <p>   The <a href=https://math-and-science.herokuapp.com/>Math and Science Page</a> created by Christian Kelley</p>
  </small>
  <nav>
    <ul>
      <li><a href=https://math-and-science-blogger.herokuapp.com/>Blogger</a></li>
      <li> <a href=https://math-and-science-blogger.herokuapp.com/about>About</a></li>
      <li> <a href=https://math-and-science-blogger.herokuapp.com/contact>Contact</a></li>
    </ul>
  </nav>
  </div>
</footer>